<template>
  <q-footer
    class="text-white"
    :class="{
      'bg-secondary': !$q.dark.isActive,
      'bg-blue-grey-8': $q.dark.isActive,
    }"
  >
    <div
      class="row items-center justify-between q-py-xs q-px-md text-grey-2 gt-xs"
    >
      <span class="text-caption text-weight-medium">{{
          t('copyright', {year: copyrightYear})
        }}</span>

      <div class="row q-gutter-x-sm">
        <q-btn
          flat
          :label="t('bt_privacy')"
          color="grey-2"
          size="12px"
          @click="toPrivacy"
        />
        <q-btn
          flat
          :label="t('bt_imprint')"
          color="grey-2"
          size="12px"
          data-cy="imprint-link"
          @click="toImprint"
        />
      </div>
    </div>

    <div
      class="row items-center justify-between q-py-xs q-px-md q-gutter-x-xs text-grey-2 xs"
      :class="{ 'q-pb-md q-pt-sm': $q.platform.is.mobile }"
    >
      <LanguageSelection/>

      <div class="row q-px-md q-gutter-x-lg">
        <q-btn
          v-if="showHomeOutsideMenu"
          icon="mdi-home-outline"
          flat
          dense
          @click="toHome"
        />

        <ThemeSwitcher v-if="showThemeOutsideMenu" />

        <q-btn
          v-if="showHelpOutsideMenu"
          icon="mdi-help-circle-outline"
          flat
          dense
          @click="toHelp"
        />

        <q-btn icon="mdi-menu" flat dense @click="dialog = true"/>
      </div>
    </div>

    <q-dialog class="xs" v-model="dialog" position="bottom" square full-width>
      <q-card
        class="q-pb-md"
        square
        :class="{
          'bg-secondary': !$q.dark.isActive,
          'bg-blue-grey-8': $q.dark.isActive,
        }"
      >
        <div
          class="row items-center justify-between q-py-xs q-px-md q-gutter-x-sm text-grey-2 xs"
        >
          <LanguageSelection/>

          <div class="row q-px-md q-gutter-x-lg">
            <ThemeSwitcher />

            <q-btn icon="mdi-menu" flat dense @click="dialog = false"/>
          </div>
        </div>

        <div class="col">
          <q-list
            separator
            v-close-popup
            class="text-body2 text-center full-width text-weight-medium"
            :class="{
              'bg-blue-1': !$q.dark.isActive,
              'bg-secondary': $q.dark.isActive,
            }"
          >
            <q-item
              clickable
              v-ripple
              :class="menuItemTextColor"
              @click="toHome"
            >
              <q-item-section>
                {{ t('bt_home') }}
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              :class="menuItemTextColor"
              @click="toHelp"
            >
              <q-item-section>
                {{ t('bt_help') }}
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              :class="menuItemTextColor"
              @click="share"
            >
              <q-item-section>
                {{ t('bt_share') }}
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              :class="menuItemTextColor"
              @click="toPrivacy"
            >
              <q-item-section>
                {{ t('bt_privacy') }}
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              :class="menuItemTextColor"
              data-cy="imprint-link"
              @click="toImprint"
            >
              <q-item-section>
                {{ t('bt_imprint') }}
              </q-item-section>
            </q-item>
          </q-list>
        </div>

        <div
          class="row justify-start q-py-sm"
          :class="{
            'bg-secondary': !$q.dark.isActive,
            'bg-blue-grey-8': $q.dark.isActive,
          }"
        >
          <span class="text-caption text-weight-medium q-ml-md text-grey-2">{{
              t('copyright', {year: copyrightYear})
            }}</span>
        </div>
      </q-card>
    </q-dialog>
  </q-footer>
</template>

<script lang="ts">
import {defineComponent, ref, computed} from 'vue';
import LanguageSelection from 'src/components/LanguageSelection.vue';
import {useNavigationControls} from 'src/composables/useNavigationControls';
import {useI18n} from 'vue-i18n';
import {useQuasar} from 'quasar';
import ThemeSwitcher from 'components/ThemeSwitcher.vue';

export default defineComponent({
  name: 'PageFooter',

  components: {
    ThemeSwitcher,
    LanguageSelection,
  },

  setup() {
    const {t} = useI18n();
    const quasar = useQuasar();
    const navigationControls = useNavigationControls();

    const dialog = ref(false);
    const copyrightYear = new Date().getFullYear();

    const showShareDialog = ref(false);

    return {
      t,
      dialog,
      copyrightYear,
      showShareDialog,
      share: navigationControls.share,
      toHelp: navigationControls.toHelp,
      toHome: navigationControls.toHome,
      toImprint: navigationControls.toImprint,
      toPrivacy: navigationControls.toPrivacy,
      showHomeOutsideMenu: computed(() => quasar.screen.width >= 390),
      showThemeOutsideMenu: computed(() => quasar.screen.width >= 450),
      showHelpOutsideMenu: computed(() => quasar.screen.width >= 315),
      menuItemTextColor: computed(() => quasar.dark.isActive ? 'text-primary' : 'text-secondary'),
    };
  },
});
</script>
