<template>
  <q-header
    :elevated="!$q.dark.isActive"
    :class="{'shadow-1': $q.dark.isActive}"
    class="bg-primary"
  >
    <div v-if="$q.screen.width >= 385" class="row items-center q-pr-md">
      <div class="col-auto">
        <slot>
          <div class="row items-center q-py-sm q-pl-md">
            <q-btn
              v-if="showBackArrow"
              icon="mdi-arrow-left"
              flat
              color="secondary"
              @click="$emit('back')"
              data-cy="back-button"
            />
            <p
              v-if="title"
              class="no-margin text-h6 text-weight-medium text-secondary"
            >
              {{ t(title) }}
            </p>

            <q-btn
              v-if="showInfoButton"
              icon="mdi-information-outline"
              flat
              class="ver-button q-ml-sm"
              color="secondary"
              @click="$emit('info')"
              data-cy="header-info"
            />
          </div>
        </slot>
      </div>

      <div class="col">
        <div class="row items-center justify-end q-py-sm">
          <div class="row q-gutter-x-xs text-secondary gt-xs">
            <LanguageSelection/>

            <q-btn
              icon="mdi-help-circle-outline"
              flat
              @click="toHelp"
              data-cy="help-selection"
            />

            <ThemeSwitcher/>

            <q-btn icon="mdi-share-variant-outline" flat @click="share"/>

            <q-btn
              icon="mdi-home-outline"
              flat
              data-cy="home-button"
              @click="toHome"
            />
          </div>
        </div>
      </div>
    </div>

    <div v-if="$q.screen.width < 385" class="col">
      <slot>
        <div class="row items-center justify-between q-py-sm q-px-md">
          <q-btn
            v-if="showBackArrow"
            icon="mdi-arrow-left"
            flat
            color="secondary"
            @click="$emit('back')"
          />

          <q-btn
            v-if="showInfoButton"
            icon="mdi-information-outline"
            flat
            class="ver-button q-ml-sm"
            color="secondary"
            @click="$emit('info')"
          />
        </div>
        <div class="q-pl-sm text-center">
          <p
            v-if="title"
            class="no-margin text-h6 text-weight-medium text-secondary"
          >
            {{ t(title) }}
          </p>
        </div>
      </slot>
    </div>
  </q-header>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import LanguageSelection from 'src/components/LanguageSelection.vue';
import {useNavigationControls} from 'src/composables/useNavigationControls';
import {useI18n} from 'vue-i18n';
import ThemeSwitcher from 'components/ThemeSwitcher.vue';

export default defineComponent({
  name: 'PageHeader',

  emits: ['back', 'info'],

  components: {
    ThemeSwitcher,
    LanguageSelection,
  },

  props: {
    title: {
      type: String,
    },
    showBackArrow: {
      type: Boolean,
      default: false,
    },
    showInfoButton: {
      type: Boolean,
      default: false,
    },
  },

  setup() {
    const {t} = useI18n();
    const navigationControls = useNavigationControls();
    return {
      t,
      share: navigationControls.share,
      toHome: navigationControls.toHome,
      toHelp: navigationControls.toHelp,
    };
  },
});
</script>
