<template>
  <q-page class="row items-center justify-evenly">
    <PageHeader
      title="he_edit"
      showBackArrow
      @back="toResult"
      showInfoButton
      @info="showInfoDialog = true"
    />

    <SurveyQuestionDisplay editMode />

    <InfoDialog v-model="showInfoDialog" textKey="info_answers_edit" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import SurveyQuestionDisplay from 'src/components/survey/SurveyQuestionDisplay.vue';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import { useVerbController } from 'src/composables/useVerbController';
import InfoDialog from 'src/components/InfoDialog.vue';

export default defineComponent({
  name: 'EditSurveyPage',

  components: { SurveyQuestionDisplay, PageHeader, InfoDialog },

  setup() {
    const router = useVerbRouter();
    const controller = useVerbController();

    const showInfoDialog = ref(false);

    if (
      !controller.hasValidSelections() ||
      controller.getVersionedSurveySelections().length === 0
    ) {
      router.toInvalidSurvey();
    }

    function toResult() {
      controller.finishSurvey();
      router.toResult();
    }

    return {
      toResult,
      showInfoDialog,
    };
  },
});
</script>
