<template>
  <q-page>
    <PageHeader title="he_help" showBackArrow @back="router.back()" />

    <SectionDisplay :sections="sections" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import SectionDisplay, { Section } from 'src/components/SectionDisplay.vue';
import { useQuasar } from 'quasar';

export default defineComponent({
  name: 'HelpPage',

  components: {
    SectionDisplay,
    PageHeader,
  },

  setup() {
    const router = useRouter();
    const quasar = useQuasar();

    const sections: Section[] = [
      {
        titleKey: 'help_topic_1',
        contents: [
          {
            key: 'help_explanation_1',
          },
        ],
      },
      {
        titleKey: 'help_topic_2',
        contents: [
          {
            key: 'help_explanation_2',
          },
        ],
      },
      {
        titleKey: 'help_topic_3',
        contents: [
          {
            key: 'help_explanation_3',
          },
        ],
      },
      {
        titleKey: 'help_topic_4',
        contents: [
          {
            key: 'help_explanation_4',
          },
        ],
      },
      {
        titleKey: 'help_topic_5',
        contents: [
          {
            key: 'help_explanation_5_Android',
            isDisplayed: () => quasar.platform.is.android ?? false,
          },
          {
            key: 'help_explanation_5_Desktop',
            isDisplayed: () => quasar.platform.is.desktop ?? false,
          },
          {
            key: 'help_explanation_5_iOS',
            isDisplayed: () => quasar.platform.is.ios ?? false,
          },
        ],
      },
      {
        titleKey: 'help_topic_6',
        contents: [
          {
            key: 'help_explanation_6_Android',
            isDisplayed: () => quasar.platform.is.android ?? false,
          },
          {
            key: 'help_explanation_6_Desktop',
            isDisplayed: () => quasar.platform.is.desktop ?? false,
          },
          {
            key: 'help_explanation_6_iOS',
            isDisplayed: () => quasar.platform.is.ios ?? false,
          },
        ],
      },
    ];

    return {
      router,
      sections,
    };
  },
});
</script>
