<template>
  <q-page>
    <PageHeader title="he_imprint" showBackArrow @back="router.back()" />

    <div class="column text-body2">
      <div v-for="section in sections" :key="section.title">
        <p
          v-if="section.type"
          class="no-margin text-weight-bold"
          :class="{
            'text-h6': section.type === 'header',
          }"
        >
          {{ t('imp_' + section.title + '_' + section.type) }}
        </p>

        <q-separator v-if="section.type === 'header'" class="q-mb-md q-mt-xs" />

        <p
          v-if="section.url"
          class="row items-center"
          :class="{ 'no-margin': section.inline === true }"
        >
          <span v-if="section.prefix">{{
            t('imp_' + section.prefix) + '&nbsp;'
          }}</span>

          <q-icon
            v-if="section.external"
            name="mdi-open-in-new"
            class="q-mr-xs"
          />

          <a
            v-if="section.external"
            target="_blank"
            :href="section.url"
            rel="noopener noreferrer"
            class="text-accent"
            >{{ t('imp_' + section.title) }}</a
          >

          <router-link
            v-if="!section.external"
            :to="{ name: section.url }"
            class="text-accent"
            >{{ t('imp_' + section.title) }}</router-link
          >
        </p>

        <TranslationWithLineBreaks
          v-if="!section.type && !section.url"
          :keypath="'imp_' + section.title"
          :class="{ 'no-margin': section.inline === true }"
        />
      </div>

      <div class="row justify-center q-mt-lg">
        <BaseButton
          type="primary"
          :label="t('bt_escape')"
          @click="router.back()"
          style="min-width: 250px"
        />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import { PRIVACY_ROUTE } from 'src/router/routes';
import BaseButton from 'components/BaseButton.vue';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'ImprintPage',

  components: {
    TranslationWithLineBreaks,
    BaseButton,
    PageHeader,
  },

  setup() {
    const { t } = useI18n();
    const router = useRouter();

    const sections = [
      {
        title: 'issuer',
        type: 'header',
      },
      {
        title: 'issuer',
        type: 'subheader',
      },
      {
        title: 'issuer',
      },
      {
        title: 'responsible',
        type: 'subheader',
      },
      {
        title: 'responsible',
      },
      {
        title: 'design',
        type: 'subheader',
      },
      {
        title: 'design',
        url: 'https://tailord.cloud',
        external: true,
      },
      {
        title: 'hosting',
        type: 'subheader',
      },
      {
        title: 'hosting',
        url: 'https://microsoft.com',
        external: true,
      },
      {
        title: 'address',
        type: 'header',
      },
      {
        title: 'address',
      },
      {
        title: 'contact',
        type: 'header',
      },
      {
        title: 'contact',
        inline: true,
      },
      {
        title: 'contact_mail',
        url: 'mailto:bpolp@polizei.bund.de',
        prefix: 'contact_mail_prefix',
        inline: true,
        external: true,
      },
      {
        title: 'contact_demail',
        url: 'mailto:poststelle@bpolp.de-mail.de',
        prefix: 'contact_demail_prefix',
        external: true,
      },
      {
        title: 'legal_instructions',
        type: 'header',
      },
      {
        title: 'legal_instructions',
      },
      {
        title: 'privacy',
        type: 'header',
      },
      {
        title: 'privacy',
        url: PRIVACY_ROUTE,
        prefix: 'privacy_prefix',
        external: false,
      },
      {
        title: 'copyright',
        type: 'header',
      },
      {
        title: 'copyright',
      },
      {
        title: 'emails',
        type: 'header',
      },
      {
        title: 'emails_1',
      },
      {
        title: 'emails_smime_key',
        url: 'https://www.bundespolizei.de/Web/DE/Service/Impressum/s-mime_pem-schluessel_file.pem;?__blob=publicationFile',
        external: true,
      },
      {
        title: 'emails_pgp_key',
        url: 'https://www.bundespolizei.de/Web/DE/Service/Impressum/pgp-schluessel_file.asc;?__blob=publicationFile',
        external: true,
      },
      {
        title: 'emails_2',
      },
    ];

    return { t, router, sections };
  },
});
</script>
