<template>
  <q-page class="column justify-center">
    <PageHeader>
      <div
        v-ripple="{'color': 'blue-grey-4'}"
        :class="{'bg-blue-grey-1': $q.dark.isActive}"
        class="row items-center q-pl-md q-py-sm q-pr-md relative-position"
      >
        <img
          :src="require('assets/bpol-logo.png')"
          style="height: 37px"
          @click="showVersionOrIncreaseCounter"
        />
      </div>
    </PageHeader>

    <div class="row items-center q-gutter-sm no-wrap q-mt-md">
      <img :src="require('assets/icon.png')" style="height: 70px" />

      <p
        class="text-h6 text-secondary text-weight-regular q-mb-none"
        style="max-width: 300px"
      >
        {{ t('legal_instruction_header') }}
      </p>
    </div>

    <q-separator class="q-mt-xs q-mb-sm" />

    <div class="row justify-center">
      <TranslationWithLineBreaks keypath="legal_instruction" class="text-body2" />
    </div>

    <q-separator class="q-mb-md" />

    <div class="row">
      <div class="column">
        <BaseCheckbox
          v-model="privacyConfirmation"
          :label="t('privacy_confirmation')"
          data-cy="checkbox_privacy_confirmation"
        />

        <a class="q-mt-md text-accent" href="#" @click.prevent="toPrivacy">
          {{ t('disclaimer_confirmation_privacy_link') }}
        </a>
      </div>
    </div>

    <q-separator class="q-mb-md q-mt-sm" />

    <div class="row justify-center">
      <TranslationWithLineBreaks
        keypath="legal_instruction_print_hint"
        class="text-body1 text-secondary text-weight-medium text-center"
      />
    </div>

    <div class="row justify-center q-mb-md">
      <BaseButton
        type="primary"
        class="q-mt-lg"
        :label="t('bt_start')"
        :disable="disableStartQuestionaire"
        @click="startQuestionaire"
        data-cy="start-questionaire"
      />
    </div>

    <InfoDialog v-model="showPilotInfoDialog" text-key="ht_pilot_long" />
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch, onMounted } from 'vue';
import { useVerbController } from 'src/composables/useVerbController';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import { useI18n } from 'vue-i18n';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import { Notify } from 'quasar';
import InfoDialog from 'src/components/InfoDialog.vue';
import BaseButton from 'components/BaseButton.vue';
import BaseCheckbox from 'components/BaseCheckbox.vue';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'PageIndex',

  components: {TranslationWithLineBreaks, BaseCheckbox, BaseButton, PageHeader, InfoDialog },

  setup() {
    const { t, locale } = useI18n();
    const router = useVerbRouter();
    const controller = useVerbController();

    const privacyConfirmation = ref(controller.getPrivacyConfirmation());

    const showVersionCounter = ref(0);
    const consecutiveClicksUntilVersion = 5;
    const versionCounterResetTime = 2 * 1000;
    let lastVersionCounterClick = new Date();

    const showPilotInfoDialog = ref(false);

    watch(
      () => privacyConfirmation.value,
      () => {
        controller.setPrivacyConfirmation(privacyConfirmation.value);
      }
    );

    // show info dialog again if the selected locale changed
    watch(() => locale.value, () => {
      showPilotInfoDialog.value = true;
    })

    onMounted(() => {
      showPilotInfoDialog.value = true;
    });

    function startQuestionaire() {
      controller.startQuestionaire();

      router.toPrecheck();
    }

    function showVersionOrIncreaseCounter() {
      if (
        new Date().getTime() - lastVersionCounterClick.getTime() >
        versionCounterResetTime
      ) {
        showVersionCounter.value = 0;
      }

      showVersionCounter.value++;
      lastVersionCounterClick = new Date();

      if (showVersionCounter.value >= consecutiveClicksUntilVersion) {
        Notify.create(t('share_title') + ' v' + controller.getVerbVersion());

        showVersionCounter.value = 0;
      }
    }

    return {
      t,
      startQuestionaire,
      privacyConfirmation,
      showPilotInfoDialog,
      toPrivacy: router.toPrivacy,
      showVersionOrIncreaseCounter,
      disableStartQuestionaire: computed(() => !privacyConfirmation.value),
    };
  },
});
</script>
