<template>
  <q-page class="row items-center justify-evenly">
    <PageHeader title="info_header" />

    <div class="col items-center">
      <p class="text-h6 text-accent">
        {{ t('new_catalog_header') }}
      </p>
      <p class="text-body1">
        {{ t('new_catalog') }}
      </p>

      <div class="row justify-center">
        <q-btn
          :label="t('bt_home')"
          color="accent"
          class="same-size-button verb-button"
          style="width: 250px"
          @click="toHome"
        />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import { useVerbController } from 'src/composables/useVerbController';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'InvalidSelectionsPage',

  components: {
    PageHeader,
  },

  setup() {
    const { t } = useI18n();
    const router = useVerbRouter();
    const controller = useVerbController();

    function toHome() {
      controller.returnToHome();

      router.toHome();
    }

    return {
      t,
      toHome,
    };
  },
});
</script>
