<template>
  <q-page class="column justify-center">
    <PageHeader :title="header" />

    <div class="row">
      <TranslationWithLineBreaks v-if="text" :keypath="text" class="text-body2" />
    </div>
    <div class="row justify-center">
      <BaseButton
        type="primary"
        :label="t('bt_home')"
        style="min-width: 150px"
        @click="toHome"
        data-cy="home"
      />
    </div>
  </q-page>
</template>

<script lang="ts">
import PageHeader from 'src/layouts/components/PageHeader.vue';
import { useNavigationControls } from 'src/composables/useNavigationControls';
import { computed, defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import BaseButton from 'components/BaseButton.vue';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'NotRelevantPage',

  components: {
    TranslationWithLineBreaks,
    BaseButton,
    PageHeader,
  },

  props: {
    reason: {
      type: String,
    },
  },

  setup(props) {
    const { t } = useI18n();
    const navigationControls = useNavigationControls();

    if (!props.reason) {
      navigationControls.toHome();
    }

    return {
      t,
      text: computed(() => {
        if (props.reason === 'euCitizens') {
          return 'info_eu_citizens_1';
        } else if (props.reason === 'euCard') {
          return 'info_eu_card_3';
        } else if (props.reason === 'euVisa') {
          return 'info_eu_visa_4';
        } else if (props.reason === 'deuEntry') {
          return 'info_deu_entry_1';
        }

        return undefined;
      }),
      header: computed(() => {
        if (props.reason === 'deuEntry') {
          return 'info_deu_entry_header';
        }

        return 'info_header';
      }),
      toHome: navigationControls.toHome,
    };
  },
});
</script>
