<template>
  <q-page class="column justify-center">
    <PageHeader
      title="he_precheck"
      showBackArrow
      @back="toHome"
      showInfoButton
      @info="showInfoDialog = true"
    />

    <PrecheckQuestionDisplay />

    <InfoDialog v-model="showInfoDialog" textKey="info_relevance_check" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import PrecheckQuestionDisplay from 'src/components/precheck/PrecheckQuestionDisplay.vue';
import { useNavigationControls } from 'src/composables/useNavigationControls';
import InfoDialog from 'src/components/InfoDialog.vue';

export default defineComponent({
  name: 'PrecheckPage',

  components: { PrecheckQuestionDisplay, PageHeader, InfoDialog },

  setup() {
    const navigationControls = useNavigationControls();
    const showInfoDialog = ref(false);

    return {
      showInfoDialog,
      toHome: navigationControls.toHome,
    };
  },
});
</script>
