<template>
  <q-page>
    <PageHeader title="he_privacy" showBackArrow @back="router.back()" />

    <SectionDisplay :sections="sections">
      <TranslationWithLineBreaks keypath="privacy_statement" class="text-body2" />
    </SectionDisplay>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SectionDisplay, { Section } from 'src/components/SectionDisplay.vue';
import { useI18n } from 'vue-i18n';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import { useRouter } from 'vue-router';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'PrivacyPage',

  components: {
    TranslationWithLineBreaks,
    SectionDisplay,
    PageHeader,
  },

  setup() {
    const { t } = useI18n();
    const router = useRouter();

    const sections: Section[] = [
      {
        titleKey: 'privacy_basics_header',
        contents: [
          {
            header: 'privacy_responsible_subheader',
            key: 'privacy_responsible',
          },
          {
            header: 'privacy_personal_data_subheader',
            key: 'privacy_personal_data',
          },
          {
            header: 'privacy_protection_of_minors_subheader',
            key: 'privacy_protection_of_minors',
          },
        ],
      },
      {
        titleKey: 'privacy_data_processing_web_header',
        contents: [
          {
            header: 'privacy_data_collection_subheader',
            key: 'privacy_data_collection',
          },
          {
            header: 'privacy_session_cookies_subheader',
            key: 'privacy_session_cookies',
          },
          {
            header: 'privacy_web_analysis_subheader',
            key: 'privacy_web_analysis',
          },
        ],
      },
      {
        titleKey: 'privacy_data_processing_contact_header',
        contents: [
          {
            key: 'privacy_data_processing_general',
          },
          {
            header: 'privacy_data_processing_email_subheader',
            key: 'privacy_data_processing_email',
          },
          {
            header: 'privacy_data_processing_letter_subheader',
            key: 'privacy_data_processing_letter',
          },
          {
            header: 'privacy_data_processing_telephone_subheader',
            key: 'privacy_data_processing_telephone',
          },
        ],
      },
      {
        titleKey: 'privacy_rights_header',
        contents: [
          {
            key: 'privacy_rights',
          },
          {
            header: 'privacy_art15_subheader',
            key: 'privacy_art15',
          },
          {
            header: 'privacy_art16_subheader',
            key: 'privacy_art16',
          },
          {
            header: 'privacy_art17_subheader',
            key: 'privacy_art17',
          },
          {
            header: 'privacy_art18_subheader',
            key: 'privacy_art18',
          },
          {
            header: 'privacy_art21_subheader',
            key: 'privacy_art21',
          },
          {
            header: 'privacy_art20_subheader',
            key: 'privacy_art20',
          },
          {
            header: 'privacy_art13_14_subheader',
            key: 'privacy_art13_14',
          },
          {
            key: 'privacy_complaints',
          },
        ],
      },
      {
        titleKey: 'disclaimer_header',
        contents: [
          {
            key: 'disclaimer',
          },
        ],
      },
    ];

    return {
      t,
      router,
      sections,
    };
  },
});
</script>
