<template>
  <q-page class="row items-center justify-evenly">
    <PageHeader
      title="he_result"
      showBackArrow
      @back="toEdit"
      showInfoButton
      @info="showInfoDialog = true"
    />

    <div
      v-if="verisonedSurveySelections.length > 0"
      class="column items-center"
    >
      <QRCodeDisplay
        :versionedSurveySelections="verisonedSurveySelections"
        class="q-mb-lg"
      />

      <SurveyQuestionSelectionDisplay :surveySelections="surveySelections" />
    </div>

    <InfoDialog v-model="showInfoDialog" textKey="info_qr_code" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import SurveyQuestionSelectionDisplay from 'src/components/result/SurveyQuestionSelectionDisplay.vue';
import { useVerbController } from 'src/composables/useVerbController';
import {
  SurveyOptionSelection,
  VersionedSurveySelections,
} from 'src/model/Survey';
import QRCodeDisplay from 'src/components/result/QRCodeDisplay.vue';
import InfoDialog from 'src/components/InfoDialog.vue';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'ResultPage',

  components: {
    SurveyQuestionSelectionDisplay,
    QRCodeDisplay,
    PageHeader,
    InfoDialog,
  },

  setup() {
    const { t } = useI18n();
    const router = useVerbRouter();
    const controller = useVerbController();
    const showInfoDialog = ref(false);

    const verisonedSurveySelections = ref<VersionedSurveySelections>(
      controller.getVersionedSurveySelections()
    );

    if (
      !controller.hasValidSelections() ||
      verisonedSurveySelections.value.length === 0
    ) {
      router.toInvalidSurvey();
    }

    const surveySelections = ref<SurveyOptionSelection[]>(
      controller.getSurveySelections()
    );

    function toEdit() {
      controller.editSurveySelections();

      router.toEditSurvey();
    }

    function toHome() {
      controller.returnToHome();

      router.toHome();
    }

    return {
      t,
      toEdit,
      toHome,
      showInfoDialog,
      surveySelections,
      verisonedSurveySelections,
      hasValidSurveySelections: computed(
        () => verisonedSurveySelections.value.length > 0
      ),
    };
  },
});
</script>
