<template>
  <q-page class="row items-center justify-evenly">
    <PageHeader
      title="he_survey"
      showBackArrow
      @back="toPrecheck"
      showInfoButton
      @info="showInfoDialog = true"
    />

    <SurveyQuestionDisplay />

    <InfoDialog v-model="showInfoDialog" textKey="info_entry_questions" />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PageHeader from 'src/layouts/components/PageHeader.vue';
import SurveyQuestionDisplay from 'src/components/survey/SurveyQuestionDisplay.vue';
import { useNavigationControls } from 'src/composables/useNavigationControls';
import InfoDialog from 'src/components/InfoDialog.vue';
import { useVerbController } from 'src/composables/useVerbController';
import { useVerbRouter } from 'src/composables/useVerbRouter';

export default defineComponent({
  name: 'SurveyPage',

  components: { SurveyQuestionDisplay, PageHeader, InfoDialog },

  setup() {
    const router = useVerbRouter();
    const controller = useVerbController();
    const navigationControls = useNavigationControls();

    const showInfoDialog = ref(false);

    if (!controller.hasValidSelections()) {
      router.toInvalidSurvey();
    }

    return {
      showInfoDialog,
      toPrecheck: navigationControls.toPrecheck,
    };
  },
});
</script>
