<template>
  <div class="row items-start full-width q-col-gutter-sm q-mb-sm">
    <div class="col-auto">
      <q-avatar
        rounded
        :color="avatarColor"
        :text-color="textColor"
        size="32px"
        class="text-weight-medium"
        style="margin-left: 0; margin-top: 4px; border-radius: 4px"
        >{{ questionNumber }}</q-avatar
      >
    </div>

    <div class="col">
      <p class="text-body1 text-weight-medium no-margin">
        {{ questionText }}

        <q-badge
          v-if="displayMissingSelectionWarning && !validSelection"
          class="text-caption"
          :class="missingSelectionWarningTextColor"
          :color="missingSelectionWarningColor"
          align="middle"
          >{{ t('selection_required_indicator') }}</q-badge
        >
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { useQuestionTranslator } from 'src/composables/useQuestionTranslator';
import { defineComponent, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import {useQuasar} from 'quasar';

export default defineComponent({
  name: 'QuestionHeader',

  emits: ['update:modelValue', 'selectionChanged'],

  props: {
    questionIndex: {
      type: Number,
      required: true,
    },
    validSelection: {
      type: Boolean,
      default: true,
    },
    displayMissingSelectionWarning: {
      type: Boolean,
      default: false,
    },
  },

  setup(props) {
    const { t } = useI18n();
    const quasar = useQuasar();
    const questionTranslator = useQuestionTranslator(t);

    return {
      t,
      questionText: computed(() => {
        return questionTranslator.surveyQuestionText(props.questionIndex);
      }),
      questionNumber: computed(() => props.questionIndex + 1),
      avatarColor: computed(() => {
        if (quasar.dark.isActive) {
          if (props.validSelection === true) {
            return 'secondary';
          }

          return 'red-3'
        } else {
          if (props.validSelection === true) {
            return 'primary';
          }

          return 'red-2';
        }
      }),
      textColor: computed(() => quasar.dark.isActive ? 'primary' : 'secondary'),
      missingSelectionWarningColor: computed(() => quasar.dark.isActive ? 'red-3' : 'red-1'),
      missingSelectionWarningTextColor: computed(() => quasar.dark.isActive ? 'text-primary' : 'text-negative')
    };
  },
});
</script>
