<template>
  <div class="col q-my-lg">
    <div
      v-for="(question, index) in surveyQuestions"
      :id="'question' + index"
      :key="'question' + index"
      class="q-mb-lg"
    >
      <div>
        <SurveyQuestionVue
          :editMode="editMode"
          :questionIndex="index"
          :optionsCount="question.options"
          :displayMissingSelectionWarning="displayMissingSelectionWarning"
          v-model="surveySelections[index]"
          @selectionChanged="saveUnsubmittedSelections"
        />

        <q-separator class="q-mt-sm" />
      </div>
    </div>

    <div class="row justify-end">
      <BaseButton
        type="primary"
        :label="editMode ? t('bt_save') : t('bt_submit_survey')"
        icon-right="mdi-arrow-right"
        @click="submitSelections"
        data-cy="submit-survey"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { useVerbController } from 'src/composables/useVerbController';
import { SurveyOptionSelection, SurveyQuestion } from 'src/model/Survey';
import { defineComponent, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import SurveyQuestionVue from 'src/components/survey/SurveyQuestion.vue';
import { scroll } from 'quasar';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import BaseButton from 'components/BaseButton.vue';

export default defineComponent({
  name: 'SurveyQuestionDisplay',

  components: {
    BaseButton,
    SurveyQuestionVue,
  },

  props: {
    editMode: {
      type: Boolean,
      default: false,
    },
  },

  setup() {
    const { t } = useI18n();
    const router = useVerbRouter();
    const controller = useVerbController();
    const { getScrollTarget, setVerticalScrollPosition } = scroll;

    const displayMissingSelectionWarning = ref(false);
    const surveyQuestionElements = ref();

    const surveyQuestions: SurveyQuestion[] = controller.questionaire.survey;

    function initializeSelectionsWithPreselection(): SurveyOptionSelection[] {
      const unsubmittedSurveySelections: SurveyOptionSelection[] =
        controller.getSurveySelections();

      return surveyQuestions.map((question, index) => {
        if (index < unsubmittedSurveySelections.length) {
          return unsubmittedSurveySelections[index];
        }

        return question.type === 'single' ? -1 : [];
      });
    }

    const surveySelections = ref<SurveyOptionSelection[]>(
      initializeSelectionsWithPreselection()
    );

    function saveUnsubmittedSelections() {
      controller.saveSelections(surveySelections.value);
    }

    function findFirstMissingQuestionIndex(): number {
      return surveySelections.value.findIndex((selection) => {
        if (typeof selection === 'number') {
          return selection < 0;
        } else if (selection instanceof Array) {
          return selection.length === 0;
        }

        return false;
      });
    }

    function allSelectionsValid(): boolean {
      return !surveySelections.value.some((selection) => {
        if (typeof selection === 'number') {
          return selection < 0;
        } else if (selection instanceof Array) {
          return selection.length === 0;
        }

        return false;
      });
    }

    function submitSelections() {
      if (allSelectionsValid()) {
        controller.saveSelections(surveySelections.value);
        controller.finishSurvey();
        router.toResult();
      } else {
        displayMissingSelectionWarning.value = true;

        const firstMissingQuestionIndex = findFirstMissingQuestionIndex();
        const firstMissingQuestion: HTMLElement | null =
          document.getElementById(
            'question' + firstMissingQuestionIndex.toString()
          );

        if (firstMissingQuestion) {
          scrollToElement(firstMissingQuestion);
        }
      }
    }

    function scrollToElement(el: HTMLElement) {
      const target = getScrollTarget(el);
      const offset = el.offsetTop - 15;
      const duration = 300;
      setVerticalScrollPosition(target, offset, duration);
    }

    return {
      t,
      surveyQuestions,
      submitSelections,
      surveySelections,
      surveyQuestionElements,
      saveUnsubmittedSelections,
      displayMissingSelectionWarning,
    };
  },
});
</script>
