<template>
  <q-expansion-item
    v-model="expanded"
    expand-icon-class="q-mb-xl q-ml-xs"
    header-class="q-px-none q-pt-none q-pb-xs"
  >
    <template #header>
      <div class="col">
        <QuestionHeader
          :questionIndex="questionIndex"
          :displayMissingSelectionWarning="displayMissingSelectionWarning"
          :validSelection="validSelection"
        />

        <div>
          <transition enter-active-class="animated fadeInUp">
            <AnswerDisplay
              v-if="validSelection"
              v-show="!expanded"
              :questionIndex="questionIndex"
              :selection="selection"
              :maxOptionsDisplayed="4"
            />
          </transition>
        </div>
      </div>
    </template>

    <div class="q-ml-lg">
      <q-option-group
        v-if="type === 'radio'"
        v-model="selection"
        :options="options"
        color="secondary"
        type="radio"
        @update:model-value="$emit('selectionChanged')"
        :data-cy="'options' + questionIndex"
      />

      <q-option-group
        v-if="type === 'checkbox'"
        v-model="selection"
        :options="options"
        color="secondary"
        type="checkbox"
        :class="{'darkmode-checkbox': $q.dark.isActive}"
        @update:model-value="$emit('selectionChanged')"
        :data-cy="'options' + questionIndex"
      />
    </div>
  </q-expansion-item>
</template>

<script lang="ts">
import { useQuestionTranslator } from 'src/composables/useQuestionTranslator';
import { useVModel } from 'src/composables/useVModel';
import { SurveyOptionSelection } from 'src/model/Survey';
import { defineComponent, computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import QuestionHeader from './QuestionHeader.vue';
import AnswerDisplay from '../result/AnswerDisplay.vue';

export default defineComponent({
  name: 'SurveyQuestion',

  emits: ['update:modelValue', 'selectionChanged'],

  components: { QuestionHeader, AnswerDisplay },

  props: {
    modelValue: {
      type: [Number, Array],
      required: true,
    },
    questionIndex: {
      type: Number,
      required: true,
    },
    optionsCount: {
      type: Number,
      required: true,
    },
    displayMissingSelectionWarning: {
      type: Boolean,
      default: false,
    },
    editMode: {
      type: Boolean,
      default: false,
    },
  },

  setup(props) {
    const { t } = useI18n();
    const questionTranslator = useQuestionTranslator(t);
    const selection = useVModel<SurveyOptionSelection>(props, 'modelValue');

    const type = computed(() =>
      typeof selection.value === 'number' ? 'radio' : 'checkbox'
    );

    const validSelection = computed<boolean>(() => {
      if (typeof selection.value === 'number') {
        return selection.value >= 0;
      } else if (selection.value instanceof Array) {
        return selection.value.length > 0;
      }
      return false;
    });

    const expanded = ref(!props.editMode && validSelection.value === false);

    watch(
      () => props.displayMissingSelectionWarning,
      (value) => {
        if (value === true && validSelection.value === false) {
          expanded.value = true;
        } else if (validSelection.value === true) {
          expanded.value = false;
        }
      }
    );

    watch(
      () => selection.value,
      (value) => {
        if (type.value === 'radio' && value >= 0) {
          expanded.value = false;
        }
      }
    );

    return {
      t,
      expanded,
      selection,
      validSelection,
      questionText: computed(() => {
        return questionTranslator.surveyQuestionText(props.questionIndex);
      }),
      options: computed(() => {
        return [...Array(props.optionsCount).keys()].map((optionIndex) => {
          return {
            value: optionIndex,
            label: questionTranslator.surveyOptionText(
              props.questionIndex,
              optionIndex
            ),
          };
        });
      }),
      type,
      questionNumber: computed(() => props.questionIndex + 1),
      avatarColor: computed(() => {
        if (validSelection.value === true) {
          return 'primary';
        }
        return 'red-2';
      }),
    };
  },
});
</script>
