<template>
  <div class="column">
    <p class="text-body1 text-weight-medium no-margin">
      {{ questionText }}
    </p>

    <q-option-group
      v-model="selection.option"
      :options="answerOptions"
      color="secondary"
      type="radio"
      class="q-mt-sm"
      :data-cy="'options' + questionIndex"
    />
  </div>
</template>

<script lang="ts">
import { NullablePrecheckOption, PrecheckOption } from 'src/model/Survey';
import { defineComponent, PropType, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useVModel } from 'src/composables/useVModel';
import { useQuestionTranslator } from 'src/composables/useQuestionTranslator';

export default defineComponent({
  name: 'PrecheckQuestion',

  emits: ['update:modelValue'],

  props: {
    modelValue: {
      type: Object as PropType<NullablePrecheckOption>,
      required: true,
    },
    questionIndex: {
      type: Number,
      required: true,
    },
    options: {
      type: Array as PropType<PrecheckOption[]>,
      required: true,
    },
  },

  setup(props) {
    const { t } = useI18n();
    const questionTranslator = useQuestionTranslator(t);

    const selection = useVModel<NullablePrecheckOption>(props, 'modelValue');

    return {
      t,
      selection,
      questionText: computed(() => {
        return questionTranslator.precheckQuestionText(props.questionIndex);
      }),
      answerOptions: computed(() => {
        return props.options.map((option, optionIndex) => {
          return {
            value: option,
            label: questionTranslator.precheckOptionText(
              props.questionIndex,
              optionIndex
            ),
          };
        });
      }),
    };
  },
});
</script>
