<template>
  <div class="column q-my-lg justify-center">
    <PrecheckQuestionVue
      :questionIndex="currentQuestionIndex"
      :options="currentOptions"
      v-model="selectedOption"
    />

    <div class="row justify-end q-mt-md">
      <BaseButton
        type="primary"
        :label="t('bt_submit_precheck')"
        icon-right="mdi-arrow-right"
        @click="next"
        :disable="!selectedOption.option"
        data-cy="submit-precheck"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { useVerbController } from 'src/composables/useVerbController';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import { NullablePrecheckOption, PrecheckQuestion } from 'src/model/Survey';
import { defineComponent, computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import PrecheckQuestionVue from './PrecheckQuestion.vue';
import BaseButton from 'components/BaseButton.vue';

export default defineComponent({
  name: 'PrecheckQuestionDisplay',

  components: {BaseButton, PrecheckQuestionVue },

  setup() {
    const { t } = useI18n();
    const router = useVerbRouter();
    const controller = useVerbController();

    const precheckQuestions: PrecheckQuestion[] =
      controller.questionaire.precheck;

    const currentPrecheckIndex = ref(0);

    const currentPrecheckQuestion = ref<PrecheckQuestion>(
      precheckQuestions[currentPrecheckIndex.value]
    );

    const selectedOption = ref<NullablePrecheckOption>({
      option: null,
    });

    function showNextQuestion() {
      currentPrecheckIndex.value++;

      selectedOption.value.option = null;
      currentPrecheckQuestion.value =
        precheckQuestions[currentPrecheckIndex.value];
    }

    function precheckIsFinished() {
      return currentPrecheckIndex.value === precheckQuestions.length - 1;
    }

    function next() {
      if (!selectedOption.value.option) {
        throw new Error('no option selected');
      }

      const action = selectedOption.value.option.action;

      if (action) {
        controller.precheckNotRelevant();
        router.toNotRelevant(action);
      } else if (precheckIsFinished()) {
        controller.finishPrecheck();
        router.toSurvey();
      } else {
        showNextQuestion();
      }
    }

    return {
      t,
      next,
      selectedOption,
      currentQuestionIndex: computed(() => currentPrecheckIndex.value),
      currentOptions: computed(() => currentPrecheckQuestion.value.options),
    };
  },
});
</script>
