<template>
  <q-btn :color="color" :text-color="textColor" :outline="outlined" class="verb-button" />
</template>

<script lang="ts">
import {computed, defineComponent} from 'vue';
import {useQuasar} from 'quasar';

export default defineComponent({
  name: 'BaseButton',

  props: {
    type: {
      type: String,
      required: true,
    }
  },

  setup(props) {
    const quasar = useQuasar();

    return {
      color: computed(() => {
        return 'secondary';
      }),
      textColor: computed(() => {
        if (quasar.dark.isActive && props.type === 'primary') {
          return 'primary';
        }

        return undefined;
      }),
      outlined: computed(() => props.type === 'secondary')
    };
  },
});
</script>
