<template>
  <q-checkbox
    :class="{'darkmode-checkbox': $q.dark.isActive}"
    :color="color"
  />
</template>

<script lang="ts">
import {computed, defineComponent} from 'vue';

export default defineComponent({
  name: 'BaseCheckbox',

  props: {

  },

  setup() {
    return {
      color: computed(() => {
        return 'secondary';
      }),
    };
  },
});
</script>
