<template>
  <q-expansion-item v-model="expanded">
    <template #header>
      <div class="col q-mt-xs">
        <span class="text-body1 text-weight-medium no-margin">
          {{ t(titleKey) }}
        </span>
      </div>
    </template>
    <div class="q-mx-md q-gutter-y-lg">
      <div v-for="content in contents" :key="content.key">
        <p v-if="content.header" class="text-body2 text-weight-medium q-mb-xs">
          {{ t(content.header) }}
        </p>
        <TranslationWithLineBreaks
          v-if="!content.isDisplayed || content.isDisplayed()"
          :keypath="content.key"
          class="text-body2"
        />
      </div>
    </div>
  </q-expansion-item>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export interface SectionContent {
  header?: string;
  key: string;
  isDisplayed?: () => boolean;
}

export default defineComponent({
  name: 'ExpandableSection',
  components: {TranslationWithLineBreaks},

  props: {
    titleKey: {
      type: String,
      default: '',
    },
    contents: {
      type: Array as PropType<SectionContent[]>,
      required: true,
    },
  },

  setup() {
    const { t } = useI18n();
    const expanded = ref(false);

    return {
      t,
      expanded,
    };
  },
});
</script>
