<template>
  <q-dialog v-model="modelState" :persistent="$q.platform.is.mobile">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ t('info_header') }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none text-body2">
        <TranslationWithLineBreaks :keypath="textKey" class="no-margin" />
      </q-card-section>

      <q-card-section align="right">
        <BaseButton
          type="primary"
          :label="t('bt_confirm')"
          v-close-popup
          data-cy="close-info"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useVModel } from 'src/composables/useVModel';
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import BaseButton from 'components/BaseButton.vue';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'InfoDialog',
  components: {TranslationWithLineBreaks, BaseButton},

  emits: ['update:modelValue'],

  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
    textKey: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const { t } = useI18n();

    const modelState = useVModel(props, 'modelValue');

    return {
      t,
      modelState,
    };
  },
});
</script>
