<template>
  <q-btn-dropdown
    class="text-caption"
    :label="currentLanguageLabel"
    icon="mdi-web"
    flat
    data-cy="language-selection"
  >
    <template #label>
      <div v-if="loading" class="q-ml-sm">
        <q-spinner />
      </div>

      <div
        v-if="!loading && (!isLocaleLoaded || !isGermanLoaded)"
        class="q-ml-sm"
      >
        <q-icon name="mdi-alert-outline" />
      </div>
    </template>

    <div v-if="!isOnline" class="q-pt-sm">
      <span class="text-grey q-px-md">
        <q-icon name="mdi-wifi-off" color="grey" class="q-mr-sm" />
        {{ t('offline') }}
      </span>

      <q-separator class="q-mt-sm" />
    </div>
    <q-list>
      <q-item
        data-cy="language-selection-option"
        v-for="localeOption in currentLocaleOptions"
        :key="localeOption.value"
        clickable
        v-close-popup
        @click="selectLanguage(localeOption.value, localeOption.lang)"
      >
        <q-item-section>
          <q-item-label class="text-body2">{{
            localeOption.label
          }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
</template>

<script lang="ts">
import { defineComponent, computed, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleOption, localeOptions } from 'src/assets/languages';
import { Notify, Quasar, QuasarLanguage } from 'quasar';
import {
  loadingFont,
  loadFontForLocale,
  availableLocaleOptions,
  isFontLoaded,
  updateAvailableLocaleOptions,
} from 'src/composables/useFonts';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'LanguageSelection',

  setup() {
    const { t, locale } = useI18n({ useScope: 'global' });
    const route = useRoute();

    const isOnline = ref(navigator.onLine);
    const loading = ref(loadingFont.value);
    const isLocaleLoaded = ref(true);
    const isGermanLoaded = ref(true);

    function onFontLoadingError(localeLabel: string) {
      Notify.create(t('font_unavailable', { language: localeLabel }));
    }

    function selectLanguage(key: string, lang: QuasarLanguage) {
      locale.value = key;
      Quasar.lang.set(lang);

      localStorage.setItem('selectedLocale', key);

      void loadFontForLocale(key, onFontLoadingError);
    }

    function checkGermanFontLoaded(): Promise<boolean> {
      return isFontLoaded('de').then((result) => {
        isGermanLoaded.value = result;

        return result;
      });
    }

    function checkLocaleFontLoaded(): Promise<boolean> {
      return isFontLoaded(locale.value as string).then((result) => {
        isLocaleLoaded.value = result;

        return result;
      });
    }

    function loadSelectedLanguagePacks() {
      void checkLocaleFontLoaded()
        .then((result) => {
          if (!result && isOnline.value) {
            return loadFontForLocale(locale.value as string, onFontLoadingError);
          }
        })
        .finally(() => {
          void checkGermanFontLoaded().then((result) => {
            if (!result && isOnline.value) {
              return loadFontForLocale('de', onFontLoadingError);
            }
          });
        });
    }

    onMounted(() => {
      window.addEventListener('online', () => {
        isOnline.value = true;

        loadSelectedLanguagePacks();
      });
      window.addEventListener('offline', () => {
        isOnline.value = false;

        void checkLocaleFontLoaded();
        void checkGermanFontLoaded();
      });

      // service worker must be ready so the downloaded fonts can be cached
      void navigator.serviceWorker.ready.then(() => {
        loadSelectedLanguagePacks();
        updateAvailableLocaleOptions();
      });
    });

    watch(
      () => route.name,
      () => {
        loadSelectedLanguagePacks();
        updateAvailableLocaleOptions();
      }
    );

    watch(
      () => loadingFont.value,
      (value) => {
        setTimeout(
          () => {
            loading.value = value;

            if (!value) {
              void checkLocaleFontLoaded();
              void checkGermanFontLoaded();
            }
          },
          value ? 0 : 500
        );
      }
    );

    return {
      t,
      locale,
      loading,
      isOnline,
      isGermanLoaded,
      isLocaleLoaded,
      selectLanguage,
      currentLocaleOptions: computed<LocaleOption[]>(() =>
        isOnline.value ? localeOptions : availableLocaleOptions.value
      ),
      currentLanguageLabel: computed(() => {
        return (
          localeOptions.find((e) => e.value === locale.value)?.label ??
          t('language').toString()
        );
      }),
    };
  },
});
</script>
