<template>
  <div class="row q-px-md">
    <slot />
  </div>

  <q-separator />
  <div
    v-for="section in sections"
    :key="section.titleKey"
    :id="section.titleKey"
  >
    <ExpandableSection
      :titleKey="section.titleKey"
      :contents="section.contents"
    />
    <q-separator />
  </div>

  <div class="row justify-center q-mt-lg">
    <BaseButton
      type="primary"
      :label="t('bt_escape')"
      @click="router.back()"
      style="min-width: 250px"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';
import ExpandableSection, { SectionContent } from './ExpandableSection.vue';
import BaseButton from 'components/BaseButton.vue';

export interface Section {
  titleKey: string;
  contents: SectionContent[];
}

export default defineComponent({
  name: 'SectionDisplay',

  components: {BaseButton, ExpandableSection },

  props: {
    sections: {
      type: Array as PropType<Section[]>,
      required: true,
    },
  },

  setup() {
    const { t } = useI18n();
    const router = useRouter();

    return {
      t,
      router,
    };
  },
});
</script>
