<template>
  <q-btn
    :icon="isDarkMode ? 'mdi-weather-sunny' : 'mdi-weather-night'"
    flat
    dense
    @click="toggleTheme"
  />
</template>

<script lang="ts">
import {computed, defineComponent} from 'vue';
import {useQuasar} from 'quasar';

export default defineComponent({
  name: 'ThemeSwitcher',

  props: {
  },

  setup() {
    const quasar = useQuasar();
    const darkModeSettingKey = 'dark_mode';

    const savedDarkModeSetting = localStorage.getItem(darkModeSettingKey);

    if (savedDarkModeSetting) {
      quasar.dark.set(savedDarkModeSetting === 'true');
    }

    function toggleTheme() {
      quasar.dark.toggle();

      localStorage.setItem(darkModeSettingKey, String(quasar.dark.isActive))
    }

    return {
      toggleTheme,
      isDarkMode: computed(() => quasar.dark.isActive)
    };
  },
});
</script>
