<template>
  <i18n-t scope="global" :keypath="keypath" tag="p">
    <br />
  </i18n-t>
</template>

<script >
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TranslationWithLineBreaks',
  components: {},

  props: {
    keypath: {
      type: String,
      required: true
    },
  },

  setup() {
    return {};
  },
});
</script>
