<template>
  <p class="text-body2 no-margin q-py-sm" style="padding-left: 48px">
    {{ displayText }}
  </p>
</template>

<script lang="ts">
import { useQuestionTranslator } from 'src/composables/useQuestionTranslator';
import { defineComponent, computed } from 'vue';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'AnswerDisplay',

  props: {
    questionIndex: {
      type: Number,
      required: true,
    },
    selection: {
      type: [Number, Array],
      required: true,
    },
    maxOptionsDisplayed: {
      type: Number,
    },
  },

  setup(props) {
    const { t } = useI18n();
    const questionTranslator = useQuestionTranslator(t);

    return {
      t,
      displayText: computed(() => {
        let selectionArray: number[];

        if (typeof props.selection === 'number') {
          selectionArray = [props.selection];
        } else if (props.selection instanceof Array) {
          selectionArray = props.selection as number[];
        } else {
          throw new Error('undefined selection');
        }

        const totalOptions = selectionArray.length;
        selectionArray = selectionArray.slice(0, props.maxOptionsDisplayed);

        const selectionText = selectionArray
          .map((selection) =>
            questionTranslator.surveyOptionText(props.questionIndex, selection)
          )
          .join(', ');

        if ((props.maxOptionsDisplayed ?? totalOptions) < totalOptions) {
          return (
            selectionText +
            ', +' +
            (totalOptions - selectionArray.length).toString()
          );
        }

        return selectionText;
      }),
    };
  },
});
</script>
