<template>
  <div
    v-show="!showSelectionInvalidDialog"
    class="q-pa-md"
    :class="{ 'full-width': $q.screen.gt.sm }"
    style="max-width: 700px"
    :style="{
      'border-radius': qrcodeSize > 155 ? '8px' : '0px',
    }"
  >
    <div class="row justify-center q-gutter-md">
      <div class="column items-center">
        <div
          ref="qrcodeCard"
          :class="{
            'bg-primary': !$q.dark.isActive,
            'bg-blue-grey-8': $q.dark.isActive,
          }"
          style="padding: 12px; border-radius: 16px 16px 0 0"
        >
          <q-card flat class="q-pa-lg bg-white">
            <QRCodeVue
              :size="qrcodeSize"
              :value="qrCodeContent"
              :level="qrcodeErrorCorrectionLevel"
              @click="fullQRCodeDialog = true"
              ref="qrCodeCanvas"
              data-cy="qrcode"
            />
          </q-card>
        </div>

        <p
          class="text-weight-medium text-body2 q-pb-sm text-center"
          style="margin-top: -4px; border-radius: 0px 0px 16px 16px"
          :style="{ width: qrcodeSize + 48 + 24 + 'px' }"
          :class="{
            'q-px-sm': validUntilText.length <= 40,
            'q-px-xl':
              validUntilText.length > 40 && validUntilText.length <= 42,
            'q-px-lg': validUntilText.length > 42,
            'bg-primary': !$q.dark.isActive,
            'bg-blue-grey-8': $q.dark.isActive,
          }"
          data-cy="valid-date"
        >
          {{ validUntilText }}
        </p>

        <TranslationWithLineBreaks keypath="ht_pilot_short" class="text-body2 text-secondary text-weight-medium text-center q-mb-none" />
      </div>

      <div class="column col-xs-12 col-sm-6 justify-center q-gutter-y-md">
        <div class="row justify-center">
          <BaseButton
            type="primary"
            :label="t('bt_print')"
            @click="openPDFDownload"
            :loading="loading"
            class="same-size-button"
            data-cy="print"
          />
        </div>

        <div class="row justify-center">
          <BaseButton
            type="secondary"
            :label="t('bt_edit')"
            class="same-size-button"
            @click="editSurveySelections"
            data-cy="edit"
          />
        </div>

        <div class="row justify-center">
          <BaseButton
            type="secondary"
            :label="t('bt_new_survey')"
            class="same-size-button"
            @click="startSurvey"
            data-cy="restart"
          />
        </div>
      </div>
    </div>

    <q-dialog v-model="fullQRCodeDialog" position="bottom" square full-width>
      <q-card square>
        <q-card-section class="no-padding" align="right">
          <q-btn
            color="secondary"
            icon="mdi-close"
            flat
            size="14px"
            @click="fullQRCodeDialog = false"
          />
        </q-card-section>
        <q-card-section class="q-py-xl" align="center">
          <QRCodeVue
            :size="qrcodeSize"
            :value="qrCodeContent"
            :level="qrcodeErrorCorrectionLevel"
          />
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="qrcodeSizeWarningDialog"
      square
      position="bottom"
      full-width
    >
      <q-card>
        <q-card-section>
          <p class="text-body2 no-margin">
            {{ t('qrcode_size_warning') }}
          </p>
        </q-card-section>
        <q-card-section align="right">
          <q-btn
            :label="t('bt_confirm')"
            color="secondary"
            class="verb-button"
            v-close-popup
          />
        </q-card-section>
      </q-card>
    </q-dialog>

    <SelectionInvalidDialog v-model="showSelectionInvalidDialog" />
  </div>
</template>

<script lang="ts">
import {VersionedSurveySelections} from 'src/model/Survey';
import {computed, defineComponent, onMounted, PropType, ref, watch,} from 'vue';
import * as b45 from 'base45-ts';
import QRCodeVue from 'qrcode.vue';
import {Notify, useQuasar} from 'quasar';
import {useVerbController} from 'src/composables/useVerbController';
import {useVerbRouter} from 'src/composables/useVerbRouter';
import {useI18n} from 'vue-i18n';
import SelectionInvalidDialog from './SelectionInvalidDialog.vue';
import BaseButton from 'components/BaseButton.vue';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'QRCodeDisplay',

  components: {
    TranslationWithLineBreaks,
    BaseButton,
    QRCodeVue,
    SelectionInvalidDialog,
  },

  props: {
    versionedSurveySelections: {
      type: Object as PropType<VersionedSurveySelections>,
      required: true,
    },
  },

  setup(props) {
    const { t, d, locale } = useI18n();
    const quasar = useQuasar();
    const router = useVerbRouter();
    const controller = useVerbController();

    const qrCodeCanvas = ref<typeof QRCodeVue>();
    const qrCodeImage = ref('');

    const showInfoDialog = ref(false);

    const loading = ref(false);

    const preferredQRCodeSize = 240;
    const qrcodeSize = computed(() =>
      Math.min(preferredQRCodeSize, quasar.screen.width - 32)
    );
    const qrCodeSizeWarning = computed(
      () => qrcodeSize.value < preferredQRCodeSize * 0.95
    );

    const fullQRCodeDialog = ref(false);
    const qrcodeSizeWarningDialog = ref(qrCodeSizeWarning.value);

    watch(
      () => qrCodeSizeWarning.value,
      (value) => {
        qrcodeSizeWarningDialog.value = value;
      }
    );

    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment, @typescript-eslint/no-var-requires
    const cbor = require('cbor-web');

    const qrcodeCard = ref<HTMLElement>();
    const qrCodeContent = ref(createQRCodeContent());
    const validUntil = ref<Date>(
      controller.getValidUntilDate(props.versionedSurveySelections)
    );

    const now = new Date();
    const showSelectionInvalidDialog = ref(
      validUntil.value.getTime() < now.getTime()
    );

    function createQRCodeContent(): string {
      const sortedSurveySelections = props.versionedSurveySelections.map(
        (value) => {
          if (value instanceof Array) {
            return value.sort((a, b) => a - b);
          }

          return value;
        }
      );

      // eslint-disable-next-line @typescript-eslint/no-unsafe-call, @typescript-eslint/no-unsafe-member-access
      const cborEncoded: ArrayBuffer | null = cbor.encode(
        sortedSurveySelections
      ) as ArrayBuffer | null;

      if (cborEncoded) {
        return 'BP:' + b45.encode(new Uint8Array(cborEncoded));
      }

      throw new Error('unable to create QR code');
    }

    function editSurveySelections() {
      controller.editSurveySelections();

      router.toEditSurvey();
    }

    function startSurvey() {
      controller.returnToHome();

      router.toHome();
    }

    onMounted(() => {
      if (qrCodeCanvas.value) {
        qrCodeImage.value = (
          qrCodeCanvas.value.$el as HTMLCanvasElement
        ).toDataURL('image/jpeg', 1);
      } else {
        console.log('failed to load qrcode as image');
      }
    });

    function openPDFDownload() {
      loading.value = true;

      // window.open cannot be called in an async function in Safari.
      // This is a workaround suggested in https://stackoverflow.com/questions/20696041/window-openurl-blank-not-working-on-imac-safari
      // This solution only works in Safari, window.open is used in any other browser
      let windowReference: Window | null = null;
      if (quasar.platform.is.safari) {
        windowReference = window.open(undefined, '_blank');
      }

      void import(/* webpackPrefetch: true */ 'src/composables/usePDFExporter')
        .then((imported) => {
          const pdfExporter = imported.usePDFExporter(t, d, locale);

          void pdfExporter
            .toPDF(
              qrCodeImage.value,
              (bloburl: string) => {
                if (windowReference) {
                  windowReference.location.assign(bloburl);
                } else {
                  window.open(bloburl, '_blank');
                }
              },
              (localeLabel: string) => {
                windowReference?.close();
                Notify.create(t('font_unavailable', { language: localeLabel }));
              }
            )
            .catch(() => {
              windowReference?.close();
            })
            .finally(() => {
              loading.value = false;
            });
        })
        .catch(() => {
          windowReference?.close();
        });
    }

    return {
      t,
      d,
      loading,
      qrcodeSize,
      qrcodeCard,
      qrCodeImage,
      startSurvey,
      qrCodeCanvas,
      qrCodeContent,
      showInfoDialog,
      openPDFDownload,
      fullQRCodeDialog,
      editSurveySelections,
      qrcodeSizeWarningDialog,
      showSelectionInvalidDialog,
      qrcodeErrorCorrectionLevel: computed(() => {
        if (qrCodeContent.value.length <= 125) {
          return 'Q';
        } else if (qrCodeContent.value.length <= 178) {
          return 'M';
        }

        return 'L';
      }),
      validUntilText: computed(() =>
        t('survey_selections_valid_until', {
          date: d(validUntil.value, 'long'),
        })
      ),
    };
  },
});
</script>

<style scoped>
.same-size-button {
  min-width: 250px;
}
</style>
