<template>
  <q-dialog
    v-model="modelState"
    persistent
    square
    position="bottom"
    style="max-width: 600px"
  >
    <q-card class="bg-primary q-pb-sm">
      <q-card-section>
        <div class="text-h6">{{ t('selection_invalid_dialog_header') }}</div>
      </q-card-section>

      <q-card-section class="q-py-none">
        <TranslationWithLineBreaks keypath="selection_invalid_dialog_content" class="text-body2 q-mb-none" />
      </q-card-section>

      <q-card-section
        align="center"
        :class="{ 'q-gutter-lg': !smallScreen, 'q-gutter-y-md': smallScreen }"
      >
        <q-btn
          :label="t('bt_home')"
          color="accent"
          class="verb-button"
          :class="{ 'full-width': smallScreen }"
          @click="toHome"
          style="min-width: 200px"
          data-cy="home"
        />
        <q-btn
          :label="t('bt_confirm_selection')"
          color="accent"
          class="verb-button"
          :class="{ 'full-width': smallScreen }"
          @click="toEdit"
          style="min-width: 200px"
          data-cy="confirm-selections"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { useNavigationControls } from 'src/composables/useNavigationControls';
import { useVerbController } from 'src/composables/useVerbController';
import { useVerbRouter } from 'src/composables/useVerbRouter';
import { useVModel } from 'src/composables/useVModel';
import { defineComponent, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import TranslationWithLineBreaks from 'components/TranslationWithLineBreaks.vue';

export default defineComponent({
  name: 'SelectionInvalidDialog',
  components: {TranslationWithLineBreaks},

  emits: ['update:modelValue'],

  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
  },

  setup(props) {
    const { t } = useI18n();
    const quasar = useQuasar();
    const router = useVerbRouter();
    const controller = useVerbController();
    const navigationControls = useNavigationControls();

    const modelState = useVModel(props, 'modelValue');

    function toEdit() {
      controller.editSurveySelections();

      router.toEditSurvey();
    }

    return {
      t,
      toEdit,
      modelState,
      toHome: navigationControls.toHome,
      smallScreen: computed(() => quasar.screen.width <= 460),
    };
  },
});
</script>
