<template>
  <div class="col q-col-gutter-y-lg q-py-md">
    <div
      v-for="(selection, index) in surveySelections"
      :key="'selection' + index"
    >
      <QuestionHeader :questionIndex="index" />

      <AnswerDisplay :questionIndex="index" :selection="selection" />

      <q-separator />
    </div>
  </div>
</template>

<script lang="ts">
import { SurveyOptionSelection } from 'src/model/Survey';
import { defineComponent, PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import QuestionHeader from '../survey/QuestionHeader.vue';
import AnswerDisplay from './AnswerDisplay.vue';

export default defineComponent({
  name: 'SurveyQuestionSelectionDisplay',

  components: { QuestionHeader, AnswerDisplay },

  props: {
    surveySelections: {
      type: Array as PropType<SurveyOptionSelection[]>,
      required: true,
    },
  },

  setup() {
    const { t } = useI18n();

    return {
      t,
    };
  },
});
</script>
