// app global css in SCSS form
.verb-button {
  border-radius: 8px;
}

.darkmode-checkbox div.q-checkbox__inner.relative-position.non-selectable.q-checkbox__inner--truthy.text-secondary > div > svg {
  color: #263238; /* cannot use theme variable because the value is not dynamically updated. This value is supposed to be the same as $primary in dark mode. */
}
