// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #c5d8f1;
$secondary: #3e6682;
$accent: #1976d2;

$dark: #1c1c1c;
$dark-page: #2e2e2e;

$positive: #21ba45;
$negative: #c10015;
$info: #e3f2fd;
$warning: #fff8c0;

$breakpoint-xs: 850px;

.body--dark {
  --q-primary: #263238;
  --q-secondary: #b0bec5;
  --q-accent: hsl(200, 79%, 50%);
  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-info: hsl(205, 47%, 30%);
  --q-warning: #fff8c0;
}
