<template>
  <q-layout view="hHr LpR fFf" class="row justify-center">
    <q-page-container class="q-px-lg q-my-lg" style="max-width: 900px">
      <router-view />
    </q-page-container>

    <PageFooter />
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import PageFooter from 'src/layouts/components/PageFooter.vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    PageFooter,
  },

  setup() {
    return {};
  },
});
</script>
